<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
      <a routerLink="/home">
        <img src="assets/images/money_face_emoji.png"> 
        Market Hacker
      </a>
    </div>

    <!-- Navbar Links -->
    <ul id="menu">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/hotlist">Hotlist</a></li>
      <li><a routerLink="/screener">Stock Screener</a></li>
      <li><a routerLink="/search">Search a Stock</a></li>
      <li><a routerLink="/about">About</a></li>
    </ul>
  </div>
</nav>

<!-- Menu Icon -->
<div class="menuIcon">
  <span class="icon icon-bars"></span>
  <span class="icon icon-bars overlay"></span>
</div>

<div class="overlay-menu">
  <ul id="menu">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/hotlist">Hotlist</a></li>
    <li><a routerLink="/screener">Stock Screener</a></li>
    <li><a routerLink="/search">Search a Stock</a></li>
    <li><a routerLink="/about">About</a></li>
  </ul>
</div>