<div class="background">
    <div class="about-mh">
        <h1>About Market Hacker</h1>
        <p>This application was built more as a way for me to get deeper practice with Spring and 
            Angular 11 than it was to help someone make millions off of the market. I believe the trading logic is sound, as it follows 
            some basic day trading principles, and you can expect to see some of the HotList stocks also mentioned on the popular trading 
            websites as big movers or stocks you should buy or something. But anyway, please don't take the data this website offers too 
            seriously. After all, I am a professional software developer, not a professional trader.</p>
        <p>As you can probably tell, the HotList is the module that has the algorithms to "predict the 
            stock market". The other features, search and screen, are just that, no rocket science
            going on there. So anyway, here are the basics of my stock picking logic, how I built the HotList. Most of it is 
            just basic trading principles - nothing you couldn't find for yourself for free on YouTube or in a book. Here they are: 
        </p>
        <ol>
            <li>Basic screen for stocks</li>
            <ul>
                <li>Market Cap of 100,000,000 or more</li>
                <li>Volume of 10,000,000 or more</li>
            </ul>
            <li>Is there a strong support level?</li>
            <ul>
                <li>Support level tested 5 or more times gets a grade of A</li>
                <li>Support level tested 4 times gets a B</li>
                <li>Stocks have to have a support level of either A or B to make it into the hotlist</li>
            </ul>
            <li>Is there a dip in the last five minutes (five minute dip) descending down into the support level?</li>
        </ol>
        <p>Is every one of these stocks going to blow up? No, of course not. The best stock pickers in the world still lose on plenty of
            their stocks, and I'm certainly not one of them. So yeah, of course these aren't all going to make money every time. However, 
            what this list of stocks will do is give a day trader a starting point from which to pick their stocks, or a watch list, if 
            you will. It's a lot easier to pick a winner from five to ten filtered stocks that are all showing buying signs than from a 
            thousand unfiltered stocks that are allover the place. That's what the real value is here. 
        </p>
        <p>*Note: The buy recommendations in this current version of Market Hacker are based off of "dip buying", a popular day trading 
            strategy. The next update I will make will additionally account for strong accumulation phases, another popular way of finding winning 
            stocks. That addition will make this app more complete and accurate. 
        </p>
    </div>

    <div class="about-owen">
        <h1>About Owen (the developer)</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <img src="assets/images/owen_picture.jpg">
                </div>
                <div class="col-lg-8">
                    <p class="owen-p1">I am a full stack developer at Nexgen Technologies in Denver, CO. I was a business student in college, then a salesman and sales
                        manager, before I decided that I wanted to do something different with my career. I learned how to code at a strong bootcamp here 
                        in Denver, then got my current job at Nexgen right after. I've been there for two and a half years as of May, 2021. 
                    </p>
                </div>
            </div>
            <div class="row owen-p2">
                <p>My strongest language is Java. I have a strong OOP background. After that, I'm proficient in frontend languages, namely Angular, 
                    regular Javascript, HTML, CSS and Bootstrap. Lastly, I would also add SQL to the list of my best languages. I've gotten a lot of 
                    experience with it at my job although I didn't use a database for this project. Below are the links to my Github and LinkedIn. 
                </p>
                <a href="https://www.linkedin.com/in/owen-harris-5a2788170/">LinkedIn</a>
                <a href="https://github.com/oharris21">GitHub</a>
            </div>
        </div>
    </div>
</div>



