.main {
    position: absolute;
    top: 4%;
    bottom: 0; 
    left: 25%;
  } 

  html {
    background-color: rgb(0, 0, 0);
    border-style: outset; 
    min-height: 100vw; 
    min-width: 100vw; 
    overflow: scroll; 
  }