@import "~bootstrap-icons/font/bootstrap-icons.css";

.search-box {
    background-color: rgb(100, 100, 100);
    padding: 20px;
    color: white; 
    margin: 6% 1% 5% 10%; 
    border-style: outset; 
  }

  .table-background {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    color: white; 
    margin: 5% 1% 10% 10%; 
    border-style: outset; 
  }

  .background {
    background-color: rgb(0, 0, 0);
    height: 100%; 
    width: 100%; 
    overflow: scroll;
  }

  button {
    background-color:  rgb(0, 255, 0);
  }