  .background {
    background-color: rgb(0, 0, 0);
    height: 100%; 
    width: 100%; 
    overflow: scroll;
  }

  .intro-box {
    background-color: rgb(100, 100, 100);
    padding: 20px;
    color: white; 
    margin: 10% 1% 1% 10%; 
    /* top, right, bottom, left */
    border-style: outset; 
  }

  .detail-box {
    background-color: rgb(100, 100, 100);
    padding: 20px;
    color: white; 
    margin: 5% 1% 1% 10%; 
    /* top, right, bottom, left */
    border-style: outset;
  }

  h1 {
    color: white; 
  }

  h4 {
    text-align: center;
  }

  img {
    height: 200px;
    width: 350px; 
  }

  .description {
    padding-left: 2%; 
  }