<div class="background">
    <div class="intro-box">
        <p><em>Market Hacker gives you up to the minute buy recommendations on stocks.</em></p>
        <p>It does so by detecting trends in stock prices and determining the reliability of each 
            trend. This app was developed with day traders in mind, as you can see by the
            emphasis on minute to minute price changes. Furthermore, this current version of Market
            Hacker works off of the day trading strategy of "dip buying". All data and buy recommendations 
            are updated each minute. Have fun hacking the market!<br> - Owen</p>
    </div>

    <div class="detail-box">
        <table>
            <tr>
                <td><a routerLink="/hotlist"><img src="assets/images/hotlist_picture.jpeg"></a></td>
                <td class="description"><h4>HotList</h4><br>The most exiting feature of this website, the HotList is where you can find 
                    a list of up to the minute buy recommendations with key data to help you plan 
                    your trade. 
                </td>
            </tr>
            <tr>
                <td><a routerLink="/screener"><img src="assets/images/screener_picture.jpeg"></a></td>
                <td class="description"><h4>Screener</h4><br>Here you can use six customizable filters to find stocks that fit your specific 
                    needs.
                </td>
            </tr>
            <tr>
                <td><a routerLink="/search"><img src="assets/images/search_picture.jpeg"></a></td>
                <td class="description"><h4>Search</h4><br>Find a stock by it's name, symbol, or even just a couple of letters if you can't 
                    remember the exact name you're after. 
                </td>
            </tr>
            <tr>
                <td><a routerLink="/about"><img src="assets/images/about_picture.jpeg"></a></td>
                <td class="description"><h4>About</h4><br>Detailed info about how the website works, what went into it, and some info 
                    about me :)
                </td>
            </tr>
        </table>
    </div>
</div>